PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.ojtabpp.mongodb.net/LetsTalk?appName=Cluster0
JWT_SECRET=letstalk_super_secret_jwt_key_2026
JWT_EXPIRE=30d
CLIENT_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=sjjuhyrg
CLOUDINARY_API_KEY=935594826276186
CLOUDINARY_API_SECRET=your_api_secret
